.notification {
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    z-index: 1000; /* Ensure it appears above other elements */
    transition: opacity 0.3s ease;
}

.notification.success {
    color: black;
    background-color: var(--almost-white); /* Green for success */
}

.notification.error {
    background-color: var(--med-gray);
}
