/* Hamburger menu button */
.hamburger-menu-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 2.75rem; 
    height: 2.75rem; 

    border: none;
    border-radius: 0;
    z-index: 100; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    border-radius: .25rem;
    padding: .18rem;

}

.hamburger-btn:hover {
    background-color: var(--almost-white);
}
  
.sidebar {
    height: 100vh; /* Full height of the viewport */
    position: fixed; /* Fixed sidebar */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease; /* Smooth transition for width changes */
    overflow: hidden; /* Hide overflowing content */
    z-index: 90; /* Below hamburger menu button */
}

.sidebar.expanded {
    width: 12rem;
    background-color: var(--almost-white);
    border-right: 2px solid var(--light-gray);
}

.sidebar.collapsed {
    width: 0; 
    padding: 0; 
    border: none; 
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-top: 4rem; /* Add space for the toggle button */
}

.nav-links li {
    margin: 1rem 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: background 0.2s ease;
}

.nav-links li a:hover {
    background-color: var(--med-gray); /* Highlight on hover */
    border-radius: 5px;
}


/* General Layout */
.authenticated-layout {
    display: grid;
    grid-template-columns: 1fr minmax(0, 60%) 1fr; /* Default layout for most pages */
    width: 100%;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

/* Full-Width Layout for specific pages */
.authenticated-layout.full-width {
    display: flex;
    width: 100%;
    transition: margin-left 0.3s ease;
}

/* Content wrapper */
.main-wrapper {
    grid-column: 2; /* Center content by default */
    margin: 0 auto;
    width: 100%;
}

/* Content section */
.main-content {
    width: 100%;
    max-width: 100%;
}

/* Adjust layout for expanded sidebar on full-width page */
.sidebar-expanded.full-width .main-wrapper {
    margin-left: 12rem;
    width: calc(100% - 12rem);
}

/* Reset margin for collapsed sidebar on full-width page */
.sidebar-collapsed.full-width .main-wrapper {
    margin-left: 0;
    width: 100%;
}

/* Adjust layout for sidebar on non-full-width pages */
.sidebar-expanded:not(.full-width) .main-wrapper {
    margin-left: 12rem;
}

.sidebar-collapsed:not(.full-width) .main-wrapper {
    margin-left: 0;
}