:root {
    --almost-black: rgb(18, 18, 18);
    --light-gray: rgb(195, 195, 195);
    --dark-gray: rgb(23, 23, 23);
    --white: rgb(255, 255, 255);
    --med-gray: rgb(117, 117, 117);
    --border-gray: rgb(42, 42, 42);
    --almost-white: rgb(227, 227, 227);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    background-color: var(--almost-black);
    color: var(--white);
}

/* Nav Bar */
.nav_bar_wrapper {
    width: 100%;
    background-color: var(--almost-black);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-bottom: 2px var(--dark-gray) solid;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.logo {
    width: 16rem;
    text-align: left;
}

.logo a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white);
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 3rem;
    flex-grow: 1;
    justify-content: center;
}

.nav_links li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

.menu_buttons {
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 16rem;
    justify-content: flex-end;
}

.btn {
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    border: 1px var(--white) solid;
    cursor: pointer;
    background-color: var(--dark-gray);
    color: var(--white);
}

.menu_buttons a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
}

.signup_btn {
    margin: 0;
}


/* Main Page */
section {
    margin: 2.5rem 3rem;
}

.first_section {
    margin-top: 7.5rem;
}

.home_text {
    display: flex;
    gap: 3rem;
    margin-bottom: 2.5rem;
    color: var(--light-gray);
}

.home_text_heading {
    width: 50%;
    font-size: 2.75rem;
    font-weight: 800;
}

.home_text_and_button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_text_and_button p {
    line-height: 1.75rem;
    color: var(--light-gray);
}

.home_text_and_button button {
    margin-top: 2rem;
    width: fit-content;
}

.home_image {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-gray);
    height: 24rem;
    border-radius: 4rem;
}

/* .home_image img {
    
}  */

.btn:hover {
    border: 1px var(--light-gray), solid;
    cursor: pointer;
    color: var(--light-gray);
    background-color: var(--dark-gray);
}

/* Sign In/Up Page */
.signin_page, .signup_page {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.signin_frame {
    display: flex;
    align-items: center;
    height: 29rem;
    width: 30rem;
    border: 1px var(--border-gray) solid;
    border-radius: 1rem;
}

.signin_container {
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signin_container p{
    color: var(--med-gray);
}

.signin_title, .signup_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.signin_title h1 {
    font-weight: 550;
}

.signin_title p {
    color: var(--light-gray);
}

.signin_fields, .signup_fields {
    display: flex;
    flex-direction: column;
}

.signin_fields input, button {
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.signin_fields input {
    border: 1px var(--border-gray) solid;
    background-color: var(--dark-gray);
}

.signin_fields button {
    border: 1px var(--dark-gray) solid;
    background-color: var(--white);
    color: var(--almost-black);
    font-weight: 550;
    margin-bottom: 0;
}

.signin_fields button:hover {
    cursor: pointer;
}

.forgot_password_container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.forgot_password_container a {
    text-decoration: none;
    color: var(--med-gray);
    font-size: 14px;
}

.forgot_password_container a:hover {
    color: var(--white);
}

.line {
    width: 100%;
    border: 1px var(--dark-gray) solid;
    margin-bottom: 1.5rem;
}

.signup_container_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup_container_bottom button {
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    border: 1px var(--border-gray) solid;
    background-color: var(--dark-gray);
    margin-bottom: 0;
}

.signup_container_bottom p {
    font-size: 14px;
}

.signup_container_bottom button:hover {
    cursor: pointer;
}

/* Sign Up Specific Page */
.signup_frame {
    display: flex;
    align-items: center;
    height: 44rem;
    width: 30rem;
    border: 1px var(--border-gray) solid;
    border-radius: 1rem;
}

.signup_container {
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup_container p {
    color: var(--med-gray);
}

.signup_title h1 {
    font-weight: 550;
}

.signup_title p {
    color: var(--light-gray);
}

.signup_fields input{
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.signup_fields input{
    border: 1px var(--border-gray) solid;
    background-color: var(--dark-gray);
}

.signup_fields p {
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.signup_fields button {
    border: 1px var(--dark-gray) solid;
    background-color: var(--white);
    color: var(--almost-black);
    font-weight: 550;
    margin-bottom: 0;
}

.signup_fields button:hover {
    cursor: pointer;
}

.signup_line {
    width: 100%;
    border: 1px var(--dark-gray) solid;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.terms_and_conditions {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.terms_and_conditions p {
    padding-left: 1rem;
    margin: 0;
}

.terms_and_conditions input {
    margin: 0;
}


.terms_and_conditions a {
    text-decoration: none;
    color: var(--light-gray);
}

/* Pricing Page */

.pricing_section h1 {
    font-size: 2rem;
    font-weight: 550;
}

.pricing_container {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

.price_card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
}

#price_card_2 {    
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

.price_card h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--almost-black);
    background-color: var(--white);
}

.price_discount {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
    background-color: var(--white);
}

.price {
    font-size: 2.5rem;
    padding-right: 0.5rem;
    background-color: var(--white);
    color: var(--almost-black);
}

.original_price {
    text-decoration: line-through;
    color: var(--med-gray);
}

.price_card small {
    margin-bottom: 1.25rem;
    background-color: var(--white);
    color: var(--almost-black);
}

.price_card_line {
    width: 100%;
    border: 1px var(--light-gray) solid;
}

.price_feature_list {
    background-color: var(--white);
    margin-top: 1.25rem;
    margin-bottom: 1.75rem;
}

.price_feature {
    margin-top: 1rem;
    font-size: rem;
    list-style-type: none;
    background-color: var(--white);
    color: var(--almost-black);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
}

.price_card button {
    width: 100%;
    margin-top: auto;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--almost-black);
    color: var(--white);
    border: none;
    font-weight: 450;
}

.price_card button:hover {
    background-color: var(--border-gray);
}

/* About Page */

.about_section_framer {
    display: flex;
    gap: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about_section_image img {
    /* height: 38rem; */
    height: 80vh;
    border-radius: 1rem;
}

.about_section_text {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.about_section_text .first_h4 {
    margin-top: 0;
}

.about_section_text h4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--almost-white);
}

.about_section_text h2 {
    font-size: 2.5rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.about_section_text p {
    line-height: 1.6em;
    margin-top: 0.625rem;
    color: var(--almost-white);
}