/* Bigger picture: most of the page */
html {
    background-color: white;
}

.custom-program-creation-page {
    padding: 2rem;
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap;
}
  
.days-container {
    display: inline-flex;
    gap: 1rem;
}

/* Day component */
.day-component {
    padding: .5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
}

/* Add label & ... */
.day-component-top-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.day-label-dropdown {
    width: 100%;
    padding: .25rem .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    border: 1px solid var(--dark-gray);
}

.day_other_options {
    display: flex;
    align-items: center;
    padding-left: .5rem;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--dark-gray);
}

/* Exercise component */
.muscle-group-and-exercise-component {
    padding: 1rem;
    margin-bottom: .5rem;
    background-color: var(--white);
}

/* Muscle group & trash can */
.muscle-group-and-delete-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
    /* color: var(--white); */
}

.muscle-dropdown {
    background-color: var(--dark-gray);
    color: var(--white);
    border: 1.5px ;
    font-size: .9rem;
    font-weight: 550;
    letter-spacing: .2px;
    padding: .25rem .5rem;
    border: none;
}

.delete-exercise-component-icon {
    cursor: pointer;
    color: var(--dark-gray);
}

/* Select exercise */
.exercise-dropdown {
    width: 100%;
    font-size: .9rem;
    font-weight: 550;
    letter-spacing: .2px;
    padding: .25rem .5rem;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: none;
    /* border: 1px solid var(--light-gray); */

}

/* + Add muscle group */
.add-muscle-group-component {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: .9rem;
    font-weight: 550;
    background-color: var(--white);
    border: none;
    color: var(--dark-gray);
    /* border-radius: .25rem; */
}

.add-muscle-group-icon {
    font-weight: 650;
    margin-right: .5rem;
    color: var(--dark-gray);
}




/* + Add a day */
.add-day-button {
    width: 20rem;
    height: 5rem;
    cursor: pointer;
    padding: .5rem;
}


.options-popup {
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--dark-gray);

    z-index: 100;
    margin-top: 6.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.options-popup button {
    display: block;
    width: 100%;
    padding: 0.25rem;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: .9rem;
    padding: .5rem 1rem;

}

.options-popup button:hover {
    background-color: var(--almost-white);
    color: var(--dark-gray);

}

.popup-menu-line {
    border: .5px solid var(--almost-white);
}

.custom-label-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.custom-label-input input {
    padding: 0.25rem;
    border: 1px solid var(--med-gray);
    border-radius: 4px;
    font-size: 1rem;
}

.custom-label-input button {
    padding: 0.25rem;
    background-color: var(--almost-black);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
